body{
background-image: URL(assets/omfgdogs.gif);
}

p {
position: fixed;
left:1000px;
top:650px;
}

#showup {
font-family: verdana;
border-style: solid;
background-color: black;
font-size: x-large;
color: white;
}