body{
background-image: URL(assets/omfgdogs.gif);
}

p {
position: fixed;
right:30px;
bottom: 15px;
/*margin-left: 80%;
margin-top: 54%;*/

}

#showup {
font-family: verdana;
border-style: solid;
background-color: black;
font-size: x-large;
color: white;
}